<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)
#df = pd.read_csv('survey_data.csv')
# Display the first few rows to ensure it loaded correctly
print(df.head())
print(df.shape)

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]
(65457, 114)

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [4]:
# Identify duplicate rows
duplicates = df[df.duplicated()]

# Count the number of duplicate rows
duplicate_count = df.duplicated().sum()
print(f'Number of duplicate rows: {duplicate_count}')

# Display the first few duplicate rows
print('First few duplicate rows:')
print(duplicates.head())

Number of duplicate rows: 20
First few duplicate rows:
       ResponseId                      MainBranch                 Age  \
65437           1  I am a developer by profession  Under 18 years old
65438           2  I am a developer by profession     35-44 years old
65439           3  I am a developer by profession     45-54 years old
65440           4           I am learning to code     18-24 years old
65441           5  I am a developer by profession     18-24 years old

                Employment RemoteWork   Check  \
65437  Employed, full-time     Remote  Apples
65438  Employed, full-time     Remote  Apples
65439  Employed, full-time     Remote  Apples
65440   Student, full-time        NaN  Apples
65441   Student, full-time        NaN  Apples

                                        CodingActivities  \
65437                                              Hobby
65438  Hobby;Contribute to open-source projects;Other...
65439  Hobby;Contribute to open-source projects;Other...
65440                                                NaN
65441                                                NaN

                                                 EdLevel  \
65437                          Primary/elementary school
65438       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65439    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65440  Some college/university study without earning ...
65441  Secondary school (e.g. American high school, G...

                                               LearnCode  \
65437                             Books / Physical media
65438  Books / Physical media;Colleague;On the job tr...
65439  Books / Physical media;Colleague;On the job tr...
65440  Other online resources (e.g., videos, blogs, f...
65441  Other online resources (e.g., videos, blogs, f...

                                         LearnCodeOnline  ... JobSatPoints_6  \
65437                                                NaN  ...            NaN
65438  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
65439  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
65440  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
65441  Technical documentation;Blogs;Written Tutorial...  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
65437            NaN            NaN            NaN             NaN
65438            0.0            0.0            0.0             0.0
65439            NaN            NaN            NaN             NaN
65440            NaN            NaN            NaN             NaN
65441            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
65437             NaN                    NaN        NaN                 NaN
65438             0.0                    NaN        NaN                 NaN
65439             NaN  Appropriate in length       Easy                 NaN
65440             NaN               Too long       Easy                 NaN
65441             NaN              Too short       Easy                 NaN

      JobSat
65437    NaN
65438    NaN
65439    NaN
65440    NaN
65441    NaN

[5 rows x 114 columns]

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [5]:
df = df.drop_duplicates()
df.shape

(65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [6]:

# Identify missing values for all columns
missing_values = df.isnull().sum().sort_values(ascending=False)

# Display missing values
print("Missing values per column:")
print(missing_values)
print(df['EdLevel'].describe())
print(df['EdLevel'].unique())

Missing values per column:
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64
count                                            60784
unique                                               8
top       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
freq                                             24942
Name: EdLevel, dtype: object
['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

In [7]:
df['EdLevel']=df['EdLevel'].fillna("Bachelor’s degree (B.A., B.S., B.Eng., etc.)")
df['EdLevel'].isnull().sum()

missing_count = df['EdLevel'].isnull().sum()
print(f"Missing values in 'EdLevel': {missing_count}")

Missing values in 'EdLevel': 0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [8]:

# Check for missing values
missing_count = df['ConvertedCompYearly'].isnull().sum()
print(f"Missing values in 'ConvertedCompYearly': {missing_count}")


summary = df['ConvertedCompYearly'].describe()
summary['1%'] = df['ConvertedCompYearly'].quantile(0.01)
summary['5%'] = df['ConvertedCompYearly'].quantile(0.05)

print(summary)

Missing values in 'ConvertedCompYearly': 42002
count    2.343500e+04
mean     8.615529e+04
std      1.867570e+05
min      1.000000e+00
25%      3.271200e+04
50%      6.500000e+04
75%      1.079715e+05
max      1.625660e+07
1%       2.076800e+02
5%       3.497000e+03
Name: ConvertedCompYearly, dtype: float64

In [9]:

df.groupby('EdLevel').agg(
    mean_comp=('ConvertedCompYearly', 'mean'),
    missing_count=('ConvertedCompYearly', lambda x: x.isna().sum())
)

,mean_comp,missing_count
EdLevel,,
"Associate degree (A.A., A.S., etc.)",75964.554667,1043
"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",88477.182151,19230
"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",85725.929586,8726
Primary/elementary school,65733.578231,999
"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",128351.152381,1815
"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",56389.470886,4608
Some college/university study without earning a degree,78914.449338,4858
Something else,68315.435407,723

Missing values: 42,020 — This is quite a large number, so handling missing data will be important depending on your analysis goals.
Count: 23,437 — This is the number of non-missing entries.
Mean: $86,158.93 — The average yearly compensation.
Standard deviation: $186,753.20 — Very high, indicating a wide spread in compensation values.
Min: $1 — Likely an outlier or data entry error.
25th percentile (Q1): $32,712 — 25% of respondents earn less than this.
Median (Q2): $65,000 — Half earn less than this, half earn more.
75th percentile (Q3): $108,000 — 25% earn more than this.
Max: $16,256,000 — Extremely high, likely an outlier.
Outliers: The min and max values suggest the presence of extreme outliers.

In [10]:

lower_bound = df['ConvertedCompYearly'].quantile(0.01)
upper_bound = df['ConvertedCompYearly'].quantile(0.99)

# Filter out outliers
df_no_outliers = df[
    (df['ConvertedCompYearly'].isna()) |
    ((df['ConvertedCompYearly'] >= lower_bound) &
     (df['ConvertedCompYearly'] <= upper_bound))
]


summary = df_no_outliers['ConvertedCompYearly'].describe()
summary['1%'] = df_no_outliers['ConvertedCompYearly'].quantile(0.01)
summary['5%'] = df_no_outliers['ConvertedCompYearly'].quantile(0.05)

print(summary)


df_no_outliers.groupby('EdLevel').agg(
    mean_comp=('ConvertedCompYearly', 'mean'),
    missing_count=('ConvertedCompYearly', lambda x: x.isna().sum())
)

count     22965.000000
mean      78606.216329
std       61963.639186
min         209.000000
25%       33758.000000
50%       65000.000000
75%      107406.000000
max      386662.000000
1%          773.000000
5%         4307.000000
Name: ConvertedCompYearly, dtype: float64

,mean_comp,missing_count
EdLevel,,
"Associate degree (A.A., A.S., etc.)",72662.172554,1043
"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",80644.245647,19230
"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",80398.567543,8726
Primary/elementary school,67077.338235,999
"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",93415.384135,1815
"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",54784.456336,4608
Some college/university study without earning a degree,74246.733942,4858
Something else,61056.082524,723

In [13]:

# Compute median per EdLevel
median_by_group = df_no_outliers.groupby('EdLevel')['ConvertedCompYearly'].transform('median')

# Fill NaN values with the median of their group
df_no_outliers['ConvertedCompYearly'] = df_no_outliers['ConvertedCompYearly'].fillna(median_by_group)


summary = df_no_outliers['ConvertedCompYearly'].describe()
summary['1%'] = df_no_outliers['ConvertedCompYearly'].quantile(0.01)
summary['5%'] = df_no_outliers['ConvertedCompYearly'].quantile(0.05)

print(summary)

df_no_outliers.groupby('EdLevel').agg(
    mean_comp=('ConvertedCompYearly', 'mean'),
    missing_count=('ConvertedCompYearly', lambda x: x.isna().sum())
)

count     64967.000000
mean      68928.052427
std       38091.783083
min         209.000000
25%       57230.000000
50%       67000.000000
75%       68240.500000
max      386662.000000
1%         2125.320000
5%        17185.000000
Name: ConvertedCompYearly, dtype: float64

/tmp/ipykernel_2148/2707151824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers['ConvertedCompYearly'] = df_no_outliers['ConvertedCompYearly'].fillna(median_by_group)

,mean_comp,missing_count
EdLevel,,
"Associate degree (A.A., A.S., etc.)",66278.606521,0
"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",71718.277156,0
"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",73517.564989,0
Primary/elementary school,50150.371806,0
"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",83864.922029,0
"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",47067.128289,0
Some college/university study without earning a degree,64748.292840,0
Something else,55368.522067,0

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [12]:
## Write your code here

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.